<p-dialog [(visible)]="display" [draggable]="false"
          [modal]="true" [resizable]="false"
          [style]="{width: '25vw', height: '50vw'}" header="Edit Employee">
  <form #putForm="ngForm" (ngSubmit)="onSubmitInsert()" novalidate>

    <!--    {{putForm.value | json}} &lt;!&ndash; TODO: test debug &ndash;&gt;-->
    <div class="p-grid p-fluid">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input [(ngModel)]="employeeToEdit.name" id="input-name"
               name="input-name" ngModel pInputText
               pTooltip="Edit employee name"
               placeholder="Name" type="text">
      </div>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
        <input [(ngModel)]="employeeToEdit.email" id="input-email"
               name="input-email" ngModel pInputText
               pTooltip="Edit employee email"
               placeholder="Email" type="text">
      </div>
      <input [(ngModel)]="employeeToEdit.jobTitle"
             id="input-jobTitle"
             name="input-jobTitle" ngModel pInputText
             pTooltip="Edit employee jobTitle"
             placeholder="Job Title"
             type="text">
      <p-inputMask [(ngModel)]="employeeToEdit.phone"
                   id="input-phone"
                   mask="999-9999999"
                   name="input-phone" ngModel
                   pTooltip="Edit employee phone"
                   placeholder="Phone"></p-inputMask>
      <input [(ngModel)]="employeeToEdit.imageURL"
             id="input-imageURL"
             name="input-imageURL" ngModel pInputText
             pTooltip="Edit employee imageURL"
             placeholder="Image URL"
             type="text">
      <app-auto-complete
        (selectedSettlementEvent)="getSelectedSettlementEntity($event)"
        [selectedSettlement]="employeeToEdit.settlementEntity"
        [settlements]="settlements"></app-auto-complete>
    </div>
    <button class="p-button-raised p-button-success"
            icon="pi pi-check" label="Insert"
            pButton pRipple
            type="submit"></button>
    <button (click)="onSubmitCancel()"
            class="p-button-raised p-button-text p-button-plain"
            icon="pi pi-times"
            label="Cancel" pButton
            pRipple type="button"></button>
  </form>
</p-dialog>
<button (click)="showDialog()" icon="pi pi-user-plus" iconPos="left"
        label="Insert Employee" pButton title="Insert Employee" type="button">
</button>
